.mainColor {
    background-color: #160f30;
}

.secondaryColor {
    background-color: #241663;
}

.thirdColor {
    background-color: #a72693;
}

.fourthColor {
    background-color: #eae7af;
}

#root {
    background-color: #160f30;
    color: white;
}

#container {
    background-color: #160f30;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

section {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
}

div .content {
    margin: 15px auto;
}

nav {
    background-color: #a72693;
}

#about-section {
    display: block;
    width: 100%;
    margin: 80px auto;
}

#about-section table p {
    text-align: right;
}

#about-section img {
    border-radius: 500px;
    width: 500px;
    height: 500px;
    text-align: left;
}

#projects-section {
    background-color: #ffd5d5;
    display: block;
}

iframe {
    max-height: 450px;
    min-width: auto;
}


#experience-section {
    color: #fff1e9;
    display: block;
}

#experience-section ul{
    list-style: none;
}

#experience-section img {
    border-radius: 25px;
    width: 100px;
    height: 100px;
    text-align: left;
}

#Contact div {
    margin: 0 0 30px 0;
    padding: 0;
}
  
#contact-section div ul {
    margin: 0;
    text-align: center;
}

#contact-section div ul li {
    display: inline;
    font-size: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

#contact-section {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    color: white;
}

#skills-section {
    list-style: none;
}
#skills-section .fa:hover {
    opacity: 0.7;
    width: 70px;
    height: 70px;
}

#contact-section .fa:hover {
    opacity: 0.7;
}
