body {
    background-color: #45454d;
}

#about-section {
    color: #ff4893;
    display: block;
    width: 100%;
    height: 100px;
}

#projects-section {
    color: #ffd5d5;
    display: block;
    width: 100%;
}

iframe {
    max-height: 450px;
    min-width: auto;
}


#experience-section {
    color: #fff1e9;
    display: block;
    width: 100%;
    height: 300px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

